@import "styles/variables.scss";

.search_filter {
  width: 100%;
  @include flex-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.title_slider {
  @include flex-between;
  width: 100%;
  margin-bottom: 40px;
}
.find_button {
  position: absolute;
  top: 15px;
  right: 28px;
}