@import "styles/variables.scss";

.button {
    width: 138px;
    height: 54px;
    background: $mint;
    color: $white;
    @include font-700;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &_withLoader {
        width: 167px;
        padding-left: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d9d9d9;
    }

    &_loader  {
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        margin-right: 18px;
        position: relative;
        border: 3px solid;
        border-color: $white transparent $white $white;
        border-radius: 50px;
        animation-name: rotation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}
@keyframes rotation {
    0% {
        transform: translate(-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%) rotate(360deg);
    }
}