.withLoaderContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.withLoader {
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform: translate(-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%) rotate(360deg);
    }
}