.logoName {
    display: flex;
    align-items: center;
    
    .logo {
        width: 42px;
        height: 42px;
        background: url(~assets/Frame.svg);
    }

    .name {
        width: 77px;
        height: 20px;
        margin-left: 12px;
        background: url(~assets/Lalasia.svg);
    }
}
