@import "styles/variables.scss";

.filter {
    position: relative;
    width: 186px;
    height: 84px;
    padding: 10px 25px;
    background: $white;
    box-shadow: $shadow;
    @include font-500;
    line-height: 150%;
    color: $dark;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
.filter_icon {
    width: 30px;
    height: 30px;
    background: url(~assets/filter.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}
.filter_list {
    width: 189.25px;
    position: absolute;
    list-style: none;
    box-shadow: $shadow;
    padding: 0;
    z-index: 5;
}
.filter_item {
    box-sizing: border-box;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    color: $dark;
    padding: 16px;
    background: $white;
    cursor: pointer;

    &_selected {
        border: 1px solid $mint;
    }
}